#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
@media (max-width: 768px) {
  /* Bajamos las flechas para que no choquen con el buscador */
  .swiper-button-next, 
  .swiper-button-prev,
  [class*="arrow"], 
  [class*="nav-button"] {
    top: 70% !important; /* Las baja un poco más */
  }

  /* Aseguramos que el buscador tenga espacio */
  header + div, 
  .min-h-screen {
    padding-top: 140px !important; /* Empuja todo el contenido hacia abajo para que el Header no tape nada */
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
